<h1>Новый вопрос:</h1>
<form method="post" action="/tests/2/questions">
  <input type="hidden" name="authenticity_token"/>
  <input type="text" id="body" name="body" placeholder="Текст вопроса"/><br>
  <input type="submit" value="Создать"/>
</form>
