<tr>
  <td class="align-middle">
    <%= content_tag :span, badge.name %>
  </td>
  <td class="align-middle"><%= badge.rule_name %></td>
  <td class="align-middle"><%= badge.rule_parameter %></td>
  <td class="align-middle"><%= octicon badge.badge_image %></td>
</tr>
