<tr>
  <td><%= link_to truncate(gist.question.body, length: 24, omission: '...'), admin_question_path(gist.question) %></td>
  <td><%= gist.user.email %></td>
  <td><%= link_to gist.hash_id, gist.url, target: '_blank' %></td>
</tr>
