<tr>
  <td><%= link_to gist.question.body[0..24], admin_question_path(gist.question) %></td>
  <td><%= gist.user.email %></td>
  <td><%= link_to gist.hash_id, gist.url, {target: '_blank'} %></td>
</tr>
