<footer class='footer-container'>
  <div class='col-8'>
    Соколов Дмитрий<br>
    <a href="http://thinknetica.com">Учебный проект в онлайн-школе Thinknetica</a>
  </div>
  <div class='col-4'>
    <%= current_year %><br><%= github_link('mfoxtrot','test-guru') %>
  </div>
</footer>
