<table class="table">
  <thead class="thead">
    <th class="sort-by-title pointer">
      <%= t('.test_name') %>
      <%= octicon 'arrow-up', class: 'text-success hide' %>
      <%= octicon 'arrow-down', class: 'text-success hide' %>
    </th>
    <th></th>
  </thead>
  <tbody>
    <%= render @tests %>
  </tbody>
</table>
