<footer class='footer-container'>
  <div class='col-8'>
    Соколов Дмитрий<br>
    <a href="http://thinknetica.com">Учебный проект в онлайн-школе Thinknetica</a>
  </div>
  <div class='col-4'>
    <%= current_year %><br><a href="<%= github_url('mfoxtrot','test-guru') %>">Test-guru</a>
  </div>
</footer>
